$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$white: #ffffff;

$primary-color: $gray-900;
$error-color: #e53e3e;
$info-color: #4299e1;
$success-color: #38a169;
$warning-color: #dd6b20;

$border-radius: 3px;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 425px;
